$main-font-color: #24292e;
$sub-font-color: #fff;
$red-focus-color: #d00307;
$solid-color: #c8c8c8;
$border-color: #24292e;
$shadow-color: grey;
$font-family-nunito: 'Nunito', sans-serif;
$font-family-raleway: 'Raleway', sans-serif;